%h1 Dicas

%ul#tips
  - @recomendation.tips.each do |tip|
    %li= tip

%dl
  %dt Temperatura atual (C)
  %dd= @currently.apparentTemperature

  %dt Probabilidade de chuva
  %dd= number_to_percentage(@currently.precipProbability * 100, precision: 0)

  %dt Nuvens no céu
  %dd= number_to_percentage(@currently.cloudCover * 100, precision: 0)
